@font-face {
  font-family: aleandwenches;
  src: url(../fonts/aleandwenches.TTF); }
/* line 5, ../scss/styles.scss */
body {
  padding: 0;
  margin: 0; }

/* line 9, ../scss/styles.scss */
.ye-title {
  font-family: aleandwenches; }

/* line 12, ../scss/styles.scss */
.canvas {
  margin: 0;
  padding: 15px 55px;
  background-color: #FAFAFA;
  max-width: 1200px; }
/* line 17, ../scss/styles.scss */
.canvas > header {
  text-align: center; }

/* line 21, ../scss/styles.scss */
ul {
  list-style: none;
  margin: 10px 0 5px 0;
  padding: 0; }

/* line 26, ../scss/styles.scss */
nav ul li {
  display: block;
  margin: 0;
  font-size: .8em; }

/* line 31, ../scss/styles.scss */
li {
  font-size: 1rem;
  line-height: 1.8rem;
  font-family: helvetica, arial, sans-serif; }
/* line 35, ../scss/styles.scss */
li a {
  text-decoration: none;
  color: #444; }

/* line 40, ../scss/styles.scss */
.icon {
  float: right;
  font-size: .7rem;
  display: inline-block;
  text-indent: -10000px;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  height: 2rem;
  width: 2rem; }

/* line 53, ../scss/styles.scss */
.sites li {
  width: 100%;
  height: 2rem;
  position: relative;
  background-color: #F4F4F4;
  margin: 2px 0 2px 0;
  padding: 0;
  float: left; }
/* line 61, ../scss/styles.scss */
.sites li:hover {
  background-color: #EEE; }
/* line 65, ../scss/styles.scss */
.sites img {
  float: right;
  font-size: .7rem;
  display: inline-block;
  text-indent: -10000px;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  height: 2rem;
  width: 2rem;
  float: left;
  height: 2rem;
  width: 2rem;
  background-color: #EEE; }
/* line 80, ../scss/styles.scss */
.sites .no-img {
  float: left;
  height: 2rem;
  width: 2rem;
  background-color: #EEE;
  background-color: #999; }

/* line 88, ../scss/styles.scss */
.wp {
  background-color: #21759a;
  background-image: url("../img/icon-wp.png"); }

/* line 92, ../scss/styles.scss */
.site {
  padding: 0 10px; }

/* line 96, ../scss/styles.scss */
.cf:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
/* line 102, ../scss/styles.scss */
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both; }

@media all and (min-width: 699px) {
  /* line 112, ../scss/styles.scss */
  body {
    background-color: #DDD; }

  /* line 115, ../scss/styles.scss */
  .canvas {
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 5px #666; }

  /* line 120, ../scss/styles.scss */
  .sites li {
    width: 45%;
    height: 2rem;
    position: relative;
    background-color: #F4F4F4;
    margin: 2px 3% 2px 0;
    padding: 0;
    float: left; }

  /* line 129, ../scss/styles.scss */
  nav ul li {
    display: inline;
    margin: 5px 5px 5px 0;
    padding: 4px 12px;
    background-color: #EEE;
    border-radius: 2px; } }
/* line 138, ../scss/styles.scss */
.admin {
  background-color: #000000;
  background-image: url("../img/icon-gear.png"); }
